@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@font-face {
    font-family: 'BringShoot';
    src: url('fonts/bringshoot-webfont.woff2') format('woff2'),
         url('fonts/bringshoot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**************
:: BODY ::
***************/
body {
	font-family: 'Lato', sans-serif;
	line-height: 2rem;
}

a,
.text-green {
	color: #006e48;
}
a:hover {
	color: #00552F;
}

.text-lime {
	color: #74D348;
}

.ls-1 { letter-spacing: 0.1rem; }
.ls-2 { letter-spacing: 0.2rem; }
.ls-3 { letter-spacing: 0.3rem; }
.ls-4 { letter-spacing: 0.4rem; }
.ls-5 { letter-spacing: 0.5rem; }

.py-6 { padding-bottom: 4rem!important; padding-top: 4rem!important; }
.py-7 { padding-bottom: 5rem!important; padding-top: 5rem!important; }
.py-8 { padding-bottom: 6rem!important; padding-top: 6rem!important; }

.mb-6 { margin-bottom: 4rem !important; }
.mb-7 { margin-bottom: 5rem !important; }
.mb-8 { margin-bottom: 6rem !important; }

.scriptFont {
	font-family: 'BringShoot', cursive;;
}


/**************
:: COLORS ::
***************/
.bg-dark {
	background-color: #222 !important;
}

/**************
:: HEADER ::
***************/
svg .icon {
	fill: #0d0d0d;
	fill-rule: evenodd;
}
svg:hover .icon{
	fill: green;
}

svg #shop.icon {
	height: 50px;
}
                      
header a {
	color: #222;
}
header a span {
	font-size: 0.8rem;
}
header a:hover {
	color: #000;
}

.language-dropdown {
    width: 70px;
    min-width: 70px;
    font-size: 0.8rem;
}

/**************
:: CONTENT ::
***************/
/** CAROUSELS **/
#hgCarousel .carousel-item {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 500px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	filter: invert(1);
}

/** CARDS **/
.product .card-body a {
	color: #212529 !important;
}

/** PRODUCTS **/
.product-cat {
    padding: 14px 12px 4px 12px;
    height: 110px;
    width: 110px;
    font-size: 0.7rem;
}
.product-cat .product-cat-icon {
	fill: #999999;
}
.product-cat:hover,
.product-cat.active {
    background:#212121;
}
.product-cat:hover .product-cat-icon,
.product-cat.active .product-cat-icon {
	fill: #ffffff;
}

/*** SINGLE PRODUCT ***/
#product-carousel .carousel-indicators {
	position: relative;
}
#product-carousel .carousel-indicators li {
	width: 80px;
	height: 80px;
	opacity: 1;
	border: 1px solid transparent;
}
#product-carousel .carousel-indicators li.active {
	border: 1px solid #222;
}

/*** CHECKOUT ***/
.breadcrumb {
    font-size: 0.8rem;
    color: #999;
}
.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #6c757d;
	content: ">";
}

/*** REGISTER ***/
.nav-tabs .nav-link.active {
	background: #006e48;
	color: #ffffff;
}

/********************
:: FOOTER ::
*********************/
footer a {
	color: #6c757d;
}

/********************
:: MEDIA QUERIES ::
*********************/
@media (max-width: 991.98px) {
	.navbar a {
		font-size: 0.9rem;
		padding-left: 0.8rem !important;
		padding-right: 0.8rem !important;
	}
}

@media (max-width: 767.98px) {
	#hgCarousel .carousel-item {
		height: 550px;
	}
	.slide-img {
		max-width:250px;
	}
}


@media (min-width: 768px) {
	.nav a {
		border-bottom: 0 !important;
	}
}