@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-icon-user-2:before{content:'\0041';}

body {
  font-size: .875rem;
}

.bg-dark {
  background: #222 !important;
}
.bg-green {
  background: #006e48;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*** BUTTONS ***/
.btn-bluegray {
  background: #3A5169;
  color: #fff;
}
.btn-bluegray:hover {
  background: #213850;
  color: #fff;
}
.btn-lime {
  background: #74D348;
  color: #fff;
}
.btn-lime:hover {
  background: #5BBA2F;
  color: #fff;
}
.btn-sky {
  background: #4CA2DB;
  color: #fff;
}
.btn-sky:hover {
  background: #3389C2;
  color: #fff;
}
.btn-orange {
  background: #FCBD25;
  color: #fff;
}
.btn-orange:hover {
  background: #E3A40C;
  color: #fff;
}
.btn-gray {
  background: #DBDBDB;
  color: #fff;
}
.btn-gray:hover {
  background: #C2C2C2;
  color: #fff;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 75px 0 0; /* Height of navbar */
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
  background: #fff;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #999999;
  font-size: 0.7rem;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  color: #ffffff;
  background: #222222;
}

.sidebar .nav-link .icon {
  height:15px;
  margin-top: 7px;
}
.sidebar .nav-link .icon {
  fill: #999999;
}
.sidebar .nav-link.active .icon,
.sidebar .nav-link:hover .icon {
  fill: #ffffff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
  background: #f2f2f2;
}

@media (min-width: 576px) {
  [role="main"] {
    padding-top: 60px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.no-arrow .dropdown-toggle:after {
  display: none;
}

/*** ORG CHART ***/
.title:before {
    content: '\0041';
    font-family: 'Glyphter';
    font-size:25px;
    line-height: 25px;
}